tr:nth-child(even){
    background-color:#f2f2f2;
}
.overall{
    font-family:sans-serif;
}
#heading{
    background-color:darkseagreen;
    padding: 1px 15px;
}
#csSection{
    background-color: rgb(101, 126, 101) !important;
}
.centering{
    text-align:center;
}
.todaright{
    text-align:right;
}
.bolded{
    font-weight:bold !important;
}
#headshot{
    width:35% !important;
    height:35% !important;
}
#byebullet{
    list-style: none;
}
a:hover{
    color:red;
}